<script type="jsrender" id="gmail">
	<div data-sub="@ns:gmail">
		<input type="button" value="unload" data-sub="$click:.unloadGmail">

		<div data-sub="`foreach:folders|gmail.folderList"></div>
		<div data-sub="`listView:selectedEmails|gmail.emailList"></div>
	</div>
</script>

<script id="gmail.folderList" type="jsrender">
	<div>
		<a data-sub="$click:.currentFolder|attr*href
					`preventDefault"
		   href="{{:#data}}">{{:#data}}</a>
	</div>
</script>

<script id="gmail.emailList" type="jsrender">
	<p>{{:message}}</p>
</script>