<script type="jsrender" id="todo">
	<div id="todoapp" data-sub="@ns:todoapp @theme:alignable">
		<div class="title">
			<h1>Todos</h1>
		</div>
		<div class="content">
			<!-- the text box for adding new tasks-->
			<div id="create-todo">
				<input id="new-todo" placeholder="What needs to be done?" type="text"
				       data-sub="`val:newTask|enter $enter:addTask"/>
			</div>

			<!--the list for tasks-->
			<div id="todos">
				<label data-sub="`show:.tasks">
					<input type="checkbox"
					       data-sub="`val:isAllDone|updateView $change:toggleAllDone">
					Mark all as complete
				</label>
				<ul id="todo-list"
				    data-sub="`listView:tasks|todo.displayItem
			              `editableListView:tasks|todo.editItem"></ul>
			</div>


			<!--the status bar on the bottom-->
			<div id="todo-stats" data-sub="`show:tasks">
			<span class="todo-count">
				<span class="number" data-sub="`html:unfinishedCount"></span>
				<span class="word">item<span
					data-sub="`showPlural:unfinishedCount">s</span> left.</span>
			</span>
			 <span class="todo-clear" data-sub='`show:finishedCount'>
				  <a href="#" data-sub="$click:clearFinishedTasks">Clear
					  <span class="number-done" data-sub="`html:finishedCount"></span>
					  completed item<span class="word-done"
					                      data-sub="`showPlural:finishedCount">s</span>
				  </a>
			</span>
			</div>
		</div>
	</div>
</script>