.body > [data-tab] {
	display: none;
}

.body > [data-tab].selected {
	display: block;
}


.expandable {
	cursor: pointer;
}

.namespace li > ul {
	margin-left: 10px;
}

.namespace:after {
	content: " | "
}

.namespace:last-child:after {
	content: ""
}

.demo iframe {
	width: 100%;
	height: 125px;
	border: 0;
}




.top_nav li {
	float: left;
}

.top_nav a {
	display: block;
	text-decoration: none;
	padding: 10px;
}

.head h1 {
	float: left;
}


li.selected, a.selected {
	background-color: #d69bde;
}


.ui-widget {
	font-family: inherit;
	font-size: inherit;
}

.ui-icon-blank {
	background-position: -80px -240px;
}

.right10 {
	margin-right: 10px;
}

label {
	width: 200px;
	margin-right: 10px;
	display: block;
	float: left;
}

p {
	clear: both;
}

.entry-title {
	border: solid 1px;
	overflow: auto;
	padding: 10px;
}

.entry-meta {
	float: right;
}

.entry {
	margin-top: 30px;
	border: solid 1px;
}

.entry h2 {
	margin: 0;
	padding: 10px;
	background-color: #9acd32;
}

.entry h2 name {
	display: block;
	float: left;
}

.entry h2 .returns {
	display: block;
	float: right;
}


/**/

/*border: none;*/
/*background: #0D5995;*/
/*color: white;*/
/*padding: 6px 20px;*/
/*font-size: 1.4em;*/
/*margin: 0;*/