<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
	"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<title></title>
	<script src="http://code.jquery.com/jquery.js"></script>
	<script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
	<script src="../ref/jquery.tmplPlus.js"></script>
	<script type="text/javascript" src="/assets/js/viaProxy.all.debug.js"></script>
</head>
<body>
<h3>original contacts</h3>

<table>
	<thead>
	<tr>
		<th>First Name</th>
		<th>Last Name</th>
	</tr>
	</thead>

	<tbody id="originalContacts">
	</tbody>
</table>

<h3>query results</h3>

<select id="ddlSearchBy">
	<option value="">search by</option>
	<option value="firstName">First Name</option>
	<option value="lastName">Last Name</option>
</select>

<select id="operators">
	<option value="">operator</option>
	<option value="equals">equals</option>
	<option value="contains">contains</option>
</select>

<input type="text" id="txtSearch"/>
<input type="button" id="btnSearch" value="Search"/>

<input id="btnClearSearch" value="Clear Search" type="button"/>

<table id="queryTable">
	<thead>
	<tr>
		<th id="sortByFirstName" style="cursor: pointer">First Name</th>
		<th id="sortByLastName" style="cursor: pointer">Last Name</th>
		<th><input id="btnResetSort" value="reset sort" type="button"/></th>
	</tr>
	</thead>

	<tbody id="queryContacts">
	</tbody>

	<tfoot id="pager">

	</tfoot>
</table>

<p id="lblNoResult">No result found</p>

<p>
	<input id="btnResetAll" value="reset query" type="button"/>
</p>
</body>

<script type="text/tmpl" id="contactRow">
	<tr>
		<td>${firstName}</td>
		<td>${lastName} ${ts}</td>
	</tr>
</script>


<script type="text/tmpl" id="pagerTemplate">
	<tr>
		<td colspan="3">
			{{if enabled}}

			<a href="" class="pageDisable">Show All</a>

			{{if index !== 0 }}
			<a href="" page="first">First</a>
			{{else}}
			<span>First</span>
			{{/if}}

			{{if index !== 0 }}
			<a href="" page="previous">Previous</a>
			{{else}}
			<span>Previous</span>
			{{/if}}

			{{if index !== count -1 }}
			<a href="" page="next">Next</a>
			{{else}}
			<span>Next</span>
			{{/if}}

			{{if index !== count -1 }}
			<a href="" page="last">Last</a>
			{{else}}
			<span>Last</span>
			{{/if}}

			<span>Page ${ index + 1} of ${count } </span>

			{{else}}

			page size: <input type="text" class="pageSize"/>
			<input class="pageEnable" value="enable paging" type="button"/>

			{{/if}}
			${ts}
		</td>

	</tr>
</script>

<script>

	function ts() {
		return (+new Date() + "").substring( 7, 10 );
	}
	var contacts = [
		{
			firstName: "John",
			lastName:"Smith"
		},
		{
			firstName: "Joe",
			lastName:"Davis"
		},
		{
			firstName: "Mary",
			lastName:"Curtis"
		},
		{
			firstName: "Tim",
			lastName:"Hud"
		},
		{
			firstName: "Boys",
			lastName:"Mee"
		},
		{
			firstName: "Yuki",
			lastName:"Kim"
		}
	];
	via().create( "contacts", contacts );
	via( "contacts" ).enableQuery();
	var editMode = via.editMode;
	var commonViewHandlers = via.commonViewHandlers;

	$( "#originalContacts" ).addModelHandler( "contacts", "init", "*template", "#contactRow" );

	$( "#queryContacts" )
		.addModelHandler( "contacts*queryResult", "init|after*", "*template", "#contactRow" );

	$( "#ddlSearchBy" )
		.addModelHandler( "contacts*query.filter.by", "init|afterUpdate", "$val" )
		.addViewHandler( "change", "contacts*query.filter.by", "$val" );

	$( "#operators" )
		.addModelHandler( "contacts*query.filter.ops", "init|afterUpdate", "$val" )
		.addViewHandler( "change", "contacts*query.filter.ops", "$val" );

	$( "#txtSearch" )
		.addModelHandler( "contacts*query.filter.value", "init|afterUpdate", "$val" )
		.addViewHandler( "keyup", "contacts*query.filter.value", "$val" );

	$( "#btnSearch" )
		.addModelHandler( "contacts*query.filter.enabled", "init|after*", "*enableIfTruthy" )
		.addViewHandler( "click", "contacts", "p.notifyQueryChange" );

	$( "#btnClearSearch" )
		.addModelHandler( "contacts*query.filter.enabled", "init|afterUpdate", "*showIfTruthy" )
		.addViewHandler( "click", "contacts", "p.disableFilter" )
		.addViewHandler( "click", "contacts", "p.notifyQueryChange" );

	$( "#sortByFirstName" )
		.addViewHandler( "click", "contacts*query.sort.by", "*value", "firstName" )
		.addViewHandler( "click", "contacts*query.sort.asc", "*toggle" )
		.addViewHandler( "click", "contacts", "p.notifyQueryChange" );

	$( "#sortByLastName" )
		.addViewHandler( "click", "contacts*query.sort.by", "*value", "lastName" )
		.addViewHandler( "click", "contacts*query.sort.asc", "*toggle" )
		.addViewHandler( "click", "contacts", "p.notifyQueryChange" );

	$( "#btnResetSort" )
		.addModelHandler( "contacts*query.sort.by", "init|afterUpdate", "*showIfTruthy" )
		.addViewHandler( "click", "contacts*query.sort.by", "*value", null )
		.addViewHandler( "click", "contacts", "p.notifyQueryChange" );

	$( "#btnResetAll" )
		.addViewHandler( "click", "contacts", "p.clearQuery" )
		.addViewHandler( "click", "contacts", "p.notifyQueryChange" )
		.addModelHandler( "contacts*query.enabled", "init|afterUpdate", "*showIfTruthy" );

	$( "#pager" )
		.addModelHandler( "contacts*query.page", "init|after*", "*template", {
			templateId: "#pagerTemplate",
			callback: function ( $content ) {
				$content
					.find( ".pageSize" )
					.addViewHandler( "keyup", "contacts*query.page.size", "$val", "*toNumber" )
					.addModelHandler( "contacts*query.page.size", "init", "$val" )
					.end()
					.find( ".pageEnable" )
					.addModelHandler("contacts*query.page.size", "init|afterUpdate", "*enableIfTruthy")
					.addViewHandler( "click", "contacts*query.page.enabled", "*value", true )
					.addViewHandler( "click", "contacts", "p.notifyQueryChange" )
					.end()
					.find( ".pageDisable" )
					.addViewHandler( "click", "contacts", "p.disablePage", false )
					.addViewHandler( "click", "contacts", "p.notifyQueryChange" )
					.addViewHandler("click", "contacts", "*returnFalse")
					.end()
					.find( "[page]" )
					.addViewHandler( "click", "contacts", "p.setPageIndex" )
					.addViewHandler( "click", "contacts", "p.notifyQueryChange" )
					.addViewHandler("click", "contacts", "*returnFalse")
					.end();
			}
		}
	).addModelHandler( "contacts*hasResult", "init|after*", "*showIfTruthy" );

	$("#lblNoResult").addModelHandler("contacts*hasResult", "init|after", "*showIfFalsy");


</script>
</html>